.WeatherForecast {
  text-align: center;
}
.WeatherForecast-day,
.WeatherForecasr-temperature-min,
.WeatherForecasr-temperature-max {
  opacity: 0.6;
}

.WeatherForecast-icon img {
  height: 36px;
  width: 36px;
}
